# mkdocs~=1.6.1
properdocs
properdocs-theme-mkdocs
mkdocs-wavedrom-plugin
mkdocs-drawio
mkdocs-glightbox
mkdocs-include-markdown-plugin
# mkdocs-material
mkdocs-materialx
mkdocs-document-dates @ git+https://github.com/nic-str/mkdocs-document-dates@main
mkdocs-to-pdf
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
mkdocs-llmstxt